.sb-content h1,
.sb-content h2 {
    font-weight: 700;
}

.sb-content h1.heading {
    margin-bottom: 10px;
}

.sb-content .status-indicator-container {
    display: flex;
    flex-direction: row;
}

.sb-content .status-indicator-container :first-child {
    margin-right: 3px;
    display: block;
}

.sb-content #post-types-form .disabled {
    pointer-events: none;
}
.sb-content #post-types-form .disabled input {
    opacity: 0.5;
}

.sb-content .buttons {
    text-align: center;
    margin-top: 2rem;
}

.servebolt-button,
.sb-content .sb-button {
    padding: 10px 10px;
    color: black;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    outline: none;
    border-radius: 50px;
    margin: 0 2rem;
    font-weight: 700;
    width: 150px;
    display: inline-block;
    text-align: center;
}

.servebolt-button[disabled],
.sb-content .sb-button[disabled] {
    opacity: 0.5;
    cursor: default;
}

.servebolt-button.light,
.sb-content .sb-button.light {
    border: 2px solid #ffaf00;
}

.sb-content .sb-button.inline {
    margin-left: 0;
    margin-right: 10px;
}

.servebolt-button.yellow,
.sb-content .sb-button.yellow {
    background: #ffaf00;
}

.servebolt-icon {
    float: left;
}

.servebolt-icon:before {
    display: block;
    content: ' ';
    background-image:  url('../img/servebolt-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 31px;
    width: 20px;
    margin-right: 3px;
    margin-bottom: 1px;
    margin-left: -3px;
}

.loading-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.loading-ring:after {
    content: ' ';
    display: block;
    width: 32px;
    height: 32px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid #ffaf00;
    border-color: #ffaf00 transparent #ffaf00 transparent;
    animation: loading-ring .7s linear infinite;
}

@keyframes loading-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sb-content a.disabled {
    pointer-events: none;
}

.sb-content .center {
    margin: 0 auto;
    text-align: center;
}

.sb-content .actions {
    display: flex;
    flex-direction: column;
}

.sb-content .actions .sb-button {
    width: 300px;
    margin: 0 0 15px 0;
}

.sb-content .sb-logo {
    background-image: url('../img/servebolt-logo.png');
    height: 50px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

/*
.sb-content .actions .action {
    width: calc(33.333% - .6666rem);
    height: 50px;
    background-color: white;
    margin: 0 1rem 0 0;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    display: flex;
}

.sb-content .actions .action .inner {
    align-self: center;
    width: 100%;
}

.sb-content .actions .action:nth-of-type(3n) {
    margin-right: 0;
}
*/

.sb-content .promo-box {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    height: 100%;
    background: white;
    float: left;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    padding: 2rem 0;
}

.sb-content .promo-box .move-content {
    width: 50%;
    max-width: 450px;
    margin: 0 auto;
}

.sb-content .nginx_switch {
    margin-top: 2rem;
}

#toplevel_page_servebolt-wp .wp-menu-image img {
    padding-top: 6px;
    height: 22px;
}

#servebolt-loading {
    display: none;
}

#servebolt-loading.active {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#servebolt-loading .loader {
    margin-top: 40vh;
    align-self: flex-start;
}

#servebolt-loading.active + .sb-content {
    opacity: 0.4;
}

#sb-configuration .spinner {
    display: none;
}


#sb-configuration .spinner.purge-queue-loading-spinner {
    float: none;
    height: 20px;
    margin-left: 5px;
}

#sb-configuration .spinner.form-submit-spinner {
    float: none;
    height: 20px;
    margin-top: -3px;
    margin-left: 5px;
}

#sb-configuration .spinner.zone-loading-spinner {
    float: none;
    height: 28px;
    margin-left: 0;
}

#sb-configuration .cf-hidden-cron,
#sb-configuration .cf-hidden {
    display: none;
}

#sb-configuration #purge-items-table .purge-item-column {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sb-configuration .spinner.is-active {
    display: inline-block;
}


#sb-configuration .hidden {
    display: none !important;
}

#sb-configuration .invalid {
    border: solid 1px #dc3545;
}

#sb-configuration .invalid-message {
    display: none;
    color: #dc3545;
}

#sb-configuration-table .check-column input {
    margin-left: 0;
}

#sb-configuration-table .check-column {
    width: 33px !important;
    text-align: center;
}

#sb-configuration-table > tbody > tr:hover .row-actions {
    position: relative;
}

#sb-configuration-table > tbody > tr tr:hover .row-actions {
    position: static;
}
