.sb-content h1,
.sb-content h2 {
    font-weight: 700;
}

.status-indicator-container {
    display: flex;
    flex-direction: row;
}

.status-indicator-container :first-child {
    margin-right: 3px;
    display: block;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid #ffaf00;
    border-color: #ffaf00 transparent #ffaf00 transparent;
    animation: lds-dual-ring .7s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sb-content a.disabled {
    pointer-events: none;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.sb-logo {
    background: url('../img/servebolt-logo.png');
    height: 50px;
    width: 200px;
    margin-top: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.columns {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.boxes {
    width: calc(50% - 1rem);
}

.sb-box {
    width: calc(33.333% - .6666rem);
    height: 50px;
    background-color: white;
    float: left;
    margin: 0 1rem 0 0;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    display: flex;
}
.sb-box .inner {
    align-self: center;
    width: 100%;
}
.sb-box:nth-of-type(3n) {
    margin-right: 0;
}

.sb-box-wide {
    width: 100%;
    height: 100%;
    background: white;
    float: left;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    padding: 2rem 0;
}
.sb-box-wide .move-content {
    width: 50%;
    max-width: 450px;
    margin: 0 auto;
}
.buttons {
    text-align: center;
    margin-top: 2rem;
}
.sb-button {
    padding: 10px 10px;
    color: black;
    text-decoration: none;
    border-radius: 50px;
    margin: 0 2rem;
    font-weight: 700;
    width: 150px;
    display: inline-block;
    text-align: center;
}

.sb-button.light {
    border: 2px solid #ffaf00;
}

.sb-button.yellow {
    background: #ffaf00;
}

.sb-box .icon {
    content: '';
    height: 75px;
    width: 75px;
    margin: 0 auto;
}

.sb-box p.function {
    font-weight: 700;
    color: black;
    text-decoration: none;
    text-align: center;
}

.nginx_switch {
    margin-top: 2rem;
}

#optimizations-loading {
    display: none;
}
#optimizations-loading.active {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#optimizations-loading .loader {
    margin-top: 40vh;
    align-self: flex-start;
}

#optimizations-loading.active + .sb-content {
    opacity: 0.4;
}

#optimizations-loading.active img {
    height: 100px;
    width: 100px;
    background-image: url('../img/db.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 100px;
    left: 45%;
}
