.sb-content h1,
.sb-content h2 {
    font-weight: 700;
}

.sb-content h1.heading {
    margin-bottom: 10px;
}

.sb-content .status-indicator-container {
    display: flex;
    flex-direction: row;
}

.sb-content .status-indicator-container > :first-child {
    margin-right: 3px;
    display: block;
}

.sb-content #sb-html-cache-form .disabled {
    pointer-events: none;
}
.sb-content #sb-html-cache-form .disabled input {
    opacity: 0.5;
}

.sb-content a.disabled {
    pointer-events: none;
}

.sb-content .center {
    margin: 0 auto;
    text-align: center;
}

.sb-content .actions {
    display: flex;
    flex-direction: column;
}

.sb-content .actions .sb-button {
    width: 300px;
    margin: 0 0 15px 0;
}

.sb-content .sb-logo {
    background-image: url('../images/servebolt-logo.png');
    height: 50px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

/*
.sb-content .actions .action {
    width: calc(33.333% - .6666rem);
    height: 50px;
    background-color: white;
    margin: 0 1rem 0 0;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    display: flex;
}

.sb-content .actions .action .inner {
    align-self: center;
    width: 100%;
}

.sb-content .actions .action:nth-of-type(3n) {
    margin-right: 0;
}
*/

.sb-content #purge-items-table .column-datetime-added,
.sb-content #purge-items-table .column-type,
.sb-content #purge-items-table .column-url {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sb-content .promo-box {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    height: 100%;
    background: white;
    float: left;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    padding: 2rem 0;
}

.sb-content .promo-box .move-content {
    width: 50%;
    max-width: 450px;
    margin: 0 auto;
}

.swal2-title {
    line-height: normal;
}

#toplevel_page_servebolt-wp .wp-menu-image img {
    padding-top: 6px;
    height: 22px;
}

#servebolt-loading.active + .wrap,
#servebolt-loading.active + .wrap.sb-content {
    opacity: 0.4;
}

#sb-configuration .spinner {
    display: none;
}

#sb-html-cache-form .spinner.flush-html-cache-exclude-list-loading-spinner,
#sb-configuration .spinner.purge-queue-loading-spinner,
#sb-configuration .acd-image-size-index-loading-spinner {
    float: none;
    height: 20px;
    margin-left: 0;
}

#sb-configuration .regenerate-prefetch-files-loading-spinner {
    float: none;
    margin-top: 0;
    margin-left: 5px;
}

#sb-configuration .spinner.form-submit-spinner {
    float: none;
    height: 20px;
    margin-top: -3px;
    margin-left: 5px;
}

#sb-configuration .spinner.zone-loading-spinner {
    float: none;
    height: 28px;
    margin-left: 0;
}

/*
#sb-configuration .cf-hidden-cron,
#sb-configuration .cf-hidden {
    display: none;
}
*/

#sb-html-cache-form #html-cache-ids-to-exclude-table .html-cache-exclude-item-column,
#sb-configuration #purge-items-table .purge-item-column,
#sb-configuration #acd-image-size-index .column-image-size {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sb-configuration .spinner.is-active {
    display: inline-block;
}


#sb-configuration .hidden {
    display: none !important;
}

#sb-configuration .invalid {
    border: solid 1px #dc3545;
}

#sb-configuration .invalid-message {
    display: none;
    color: #dc3545;
}

#sb-configuration-table .check-column input {
    margin-left: 0;
}

#sb-configuration-table .check-column {
    width: 33px !important;
    text-align: center;
}

#sb-html-cache-form > tbody > tr:hover .row-actions,
#sb-configuration-table > tbody > tr:hover .row-actions {
    position: relative;
}

#sb-html-cache-form > tbody > tr tr:hover .row-actions,
#sb-configuration-table > tbody > tr tr:hover .row-actions {
    position: static;
}

.nav-tab-inactive {
    pointer-events: none;
    opacity: .5;
}
