.sb-content h1,
.sb-content h2 {
    font-weight: 700;
}

.sb-content h1.heading {
    margin-bottom: 10px;
}

.sb-content .status-indicator-container {
    display: flex;
    flex-direction: row;
}

.sb-content .status-indicator-container > :first-child {
    margin-right: 3px;
    display: block;
}

.sb-content #sb-html-cache-form .disabled {
    pointer-events: none;
}
.sb-content #sb-html-cache-form .disabled input {
    opacity: 0.5;
}

.sb-content a.disabled {
    pointer-events: none;
}

.sb-content .center {
    margin: 0 auto;
    text-align: center;
}

.sb-content .actions {
    display: flex;
    flex-direction: column;
}

.sb-content .actions .sb-button {
    width: 300px;
    margin: 0 0 15px 0;
}

.sb-content .sb-logo {
    background-image: url('../images/servebolt-logo.png');
    height: 50px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

/*
.sb-content .actions .action {
    width: calc(33.333% - .6666rem);
    height: 50px;
    background-color: white;
    margin: 0 1rem 0 0;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    display: flex;
}

.sb-content .actions .action .inner {
    align-self: center;
    width: 100%;
}

.sb-content .actions .action:nth-of-type(3n) {
    margin-right: 0;
}
*/

.sb-content #purge-items-table .column-datetime-added,
.sb-content #purge-items-table .column-type,
.sb-content #purge-items-table .column-url {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sb-content .promo-box {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    height: 100%;
    background: white;
    float: left;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    padding: 2rem 0;
}

.sb-content .promo-box .move-content {
    width: 50%;
    max-width: 450px;
    margin: 0 auto;
}

.swal2-title {
    line-height: normal;
}

#toplevel_page_servebolt-wp .wp-menu-image img {
    padding-top: 6px;
    height: 22px;
}

#servebolt-loading.active + .wrap,
#servebolt-loading.active + .wrap.sb-content {
    opacity: 0.4;
}

#sb-configuration .spinner {
    display: none;
}

#sb-html-cache-form .spinner.flush-html-cache-exclude-list-loading-spinner,
#sb-configuration .spinner.purge-queue-loading-spinner,
#sb-configuration .acd-image-size-index-loading-spinner {
    float: none;
    height: 20px;
    margin-left: 0;
}

#sb-configuration .regenerate-manifest-files-loading-spinner {
    float: none;
    margin-top: 0;
    margin-left: 5px;
}

#sb-configuration .spinner.form-submit-spinner {
    float: none;
    height: 20px;
    margin-top: -3px;
    margin-left: 5px;
}

#sb-configuration .spinner.zone-loading-spinner {
    float: none;
    height: 28px;
    margin-left: 0;
}

/*
#sb-configuration .cf-hidden-cron,
#sb-configuration .cf-hidden {
    display: none;
}
*/

#sb-html-cache-form #html-cache-ids-to-exclude-table .html-cache-exclude-item-column,
#sb-configuration #purge-items-table .purge-item-column,
#sb-configuration #acd-image-size-index .column-image-size {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sb-configuration .spinner.is-active {
    display: inline-block;
}


#sb-configuration .hidden {
    display: none !important;
}

#sb-configuration .invalid {
    border: solid 1px #dc3545;
}

#sb-configuration .invalid-message {
    display: none;
    color: #dc3545;
}

#sb-configuration-table .check-column input {
    margin-left: 0;
}

#sb-configuration-table .check-column {
    width: 33px !important;
    text-align: center;
}

#sb-html-cache-form > tbody > tr:hover .row-actions,
#sb-configuration-table > tbody > tr:hover .row-actions {
    position: relative;
}

#sb-html-cache-form > tbody > tr tr:hover .row-actions,
#sb-configuration-table > tbody > tr tr:hover .row-actions {
    position: static;
}

.nav-tab-inactive {
    pointer-events: none;
    opacity: .5;
}

.sb-welcome-panel {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 1px;
    font-size: 13px;
    line-height: 1.7;
    overflow: auto;
    margin: 16px 0px;
    padding: 23px 10px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(195, 196, 199);
    border-image: initial;
    background: rgb(255, 255, 255);
}

.sb-welcome-panel-content {
    margin-left: 13px;
    display: grid;

    grid-template-columns: 1fr; 
    @media (min-width:700px) {
        grid-template-columns: 1fr 1fr; 
    }
    @media (min-width:1200px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}

.sb-welcome-panel .sb-welcome-panel-column-container {
    /* clear: both;
    position: relative; */
    @media (min-width:700px) {
        grid-column: 1 / span 2; 
    }
    @media (min-width:1200px) {
        grid-column: 1 / span 4;
    }
}

/* .sb-welcome-panel .sb-welcome-panel-column {
    width: 32%;
    min-width: 200px;
    float: left;
} */

.sb-welcome-panel h3 {
    font-size: 16px;
    margin: 1.33em 0px 0px;
}

.sb-welcome-panel .button.button-hero {
    margin: 15px 13px 3px 0;
    padding: 12px 36px;
    height: auto;
    line-height: 1.4285714;
    white-space: normal;
}

.sb-welcome-panel-column p {
    margin-top: 7px;
    color: rgb(60, 67, 74);
}
